body {
  background-image: url("https://images.unsplash.com/photo-1546724867-3b2dabdbc5b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  /* background-color: black; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

img {
  width: 100%;
}

/* h1 {
  text-align: center;
  color: #e7a311;
  margin: 30px;
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px;
  background-color: #33333333;
} */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #e7a311;
  color: white;
}

h3 {
  text-align: center;
  color: #f2f2f2;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration-line: underline;
  background-color: rgba(255, 255, 255, 0.466);
  color: black
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 112px;
  align-items: center;
}
.pizza {
  width: 250px;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one {
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/45.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.two {
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/7777.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.three {
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/p1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.four {
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/rrr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.five {
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/899.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.six {
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/jkjkkk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.Pizza p {
  display: none;
}

.Pizza:hover p {
  display: block;
}

.hover-3 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #ecca07; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#ffffff 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.hover-3:hover {
  --_p: 100%;
  --_s: .3s;
}

